.fieldSearchKey{
 margin-top : 2em;
 margin-bottom : 2em;
}

.SearchKey{
 margin-bottom : 0.8em;
}

.SearchEvent{
 margin-bottom : 1em;
 margin-bottom : 1em;
}

.searchPages{
 text-align : center;
}

.SearchEventTitle{
 font-weight : bold;
}

.SearchEventTimeText {
	padding: 0.2em;
	margin: 0.2em 0em;
	background-color: #f0f0f0;
}

table.searchBarTable {
	width: 100%;
}
